.App {
    display: flex;
    justify-content: center;
    background: #eeeeee;
    min-height: 800px;
    padding-top: 30px;
}
.node-list {
    width: 30%;
    background: white;
    border-right: 1px solid #eeeeee;
}
.slate-editor {
    width: 60%;
    padding: 10px;
    background: white;
}

